.App {
  text-align: center;
}

.App-login {
  position: fixed;
  height: 50px;
  line-height: 50px;
  width: 100%;
  font-size: 16px;
  font-family: 'Roboto',sans-serif;
  font-weight: 300;
}

.App-login * {
  padding: 0.35em 1.2em;
  border: 0.1em solid #FFFFFF;
  margin: 0 0.5em 0.5em 0;
  border-radius: 0.12em;
}

.App-login button {
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.2s;
}

.App-login button:hover {
  color: #000000;
  background-color: #FFFFFF;
}

.App-login input {
  margin: 0 0.5em 0.5em 0;
}

.input__device-id {
  width: 100px;
}

.input__refresh {
  width: 100px;
}

@media all and (max-width:30em) {
  a.button1 {
    display: block;
    margin: 0.4em auto;
  }
} 

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
